::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background: transparent;
}


::-webkit-scrollbar-thumb {
    background: #00bcb5;
    border-radius: 10px;
}
body {
    overflow-x: hidden;
}
select {
    text-transform: lowercase;
}

option {
    text-transform: lowercase;
}

.response ul {
    list-style: none;
}

.char-count {
    color: #fff;
}